* body,section,article,header,footer{margin:0px}

#cajagrande {
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto
}

#conversacion {
	width:930px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	border:solid 1px black;
	overflow-y:scroll;
	margin-bottom: 30px;
}


#conversacion p:nth-child(odd){background-color:#333 ; color:#fff;margin:0px;}
#conversacion p:nth-child(even){background-color:#999 ; color:#fff; margin:0px;}


/*
#conversacion p{background-color:#DDD ; border-bottom:1px solid #000 ;margin:0px}*/



#cajatitulo h1 {
	color:purple;
	font-family:Garamond;
	text-align: center;
}


#texto {
	width: auto;
	background-color:lightgray;
	font-family:Verdana;
	font-size:10px;
}




footer {
	width:930px;
	height:50px;
	clear: both;
	margin:auto;

}