#cajagrande {
	width:100%;
	height:20%;
}

#cajachat {

}

.titulo1 {
	color:violet;
	font-family:Garamond;
	text-align: center;
}

#elchat {
	overflow-y:scroll;
	height: 100%;
	width: 100%;
}

.texto {
	padding:4px;
	background:#fff;
}

#mensajes {
	height: auto;
}

#textochat {
	width:100px;
}

#chatchat {
	width:500px;
}